<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>


 <div id="fos_user_resetting_form"><div><label for="fos_user_resetting_form_new_first" class="required">form.new_password</label>
         <input type="password" id="fos_user_resetting_form_new_first" name="fos_user_resetting_form[new][first]" required="required" /></div>
     <div><label for="fos_user_resetting_form_new_second" class="required">form.new_password_confirmation</label>
         <input type="password" id="fos_user_resetting_form_new_second" name="fos_user_resetting_form[new][second]" required="required" /></div>
     <input type="hidden" id="fos_user_resetting_form__token" name="fos_user_resetting_form[_token]" value="NCq_afMb-NrwZG_cpk_pTqCFm8EnDovLCkl6Mwor5Vo" /></div>
